#eclipse ignore
.metadata
.settings
**/.classpath

#idea ignore
*.ipr
*.iws
*.iml

#gradle
.gradle

#package file
*.class
*.war
*.ear
*.zip
*.tar.gz
*.rar

#maven ignore
target
build


# temp file
*.log
*.cache
*.diff
*.patch
*.tmp
.pmd

